@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row page-box mt-3 mb-3">
        <div class="col-sm-12">
            <h2>Companies list</h2>

            <div class="input-group col-md-12 mt-3 mb-4">
                <input type="text" class="form-control" placeholder="Search company by name..."
                       name="search" id="search" />
                <span class="input-group-btn">
                    <button class="btn btn-info" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>

            <table class="table table-striped table-hover" id="recordsTable" style="display: none">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody id="recordsGrid" />
            </table>

            @if (User.IsInRole(Roles.Admin))
            {
                @Html.ActionLink("Add company", "Create", "Company", null, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var uri = 'api/SampleApi/GetCompanies';

        $(document).ready(function () {
            find();

            $('#searchButton').click(function () {
                find();
            });

            $('#search').keyup(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    $('#searchButton').click();
                }
            });
        });

        function find() {
            var searchString = $('#search').val();
            $.getJSON(uri, { searchString: searchString })
                .done(function (data) {
                    var c = [];
                    $.each(data, function (_key, item) {
                        c.push("<tr><td><a href=\"/Company/Details?id=" + item.id + "\">" + item.name + "<a></td>");
                    });

                    $('#recordsTable').hide();
                    $('#recordsGrid').html(c.join(""))
                    $('#recordsTable').show(400);
                });
        }
    </script>
}