@{
    ViewData["Title"] = "Sign Out";
}

<div class="container body-content">
    <h2 class="mt-3">@ViewData["Title"].</h2>
    <p class="text-success mt-3">You have successfully signed out.</p>
</div>
