@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav navbar-right">
        <li><a class="btn btn-link nav-link" asp-area="" asp-controller="Session" asp-action="EditProfile">@User.Identity.Name</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li><a class="nav-link" asp-area="" asp-controller="Session" asp-action="SignIn">Sign in</a></li>
    </ul>
}
