@{ 
    ViewData["Title"] = "Contact"; 
}

<h2 class="mt-3">@ViewData["Title"]</h2>


<address class="mt-3">
    Recruitment Company
    <br /> Warsaw, PL
    <br />
    <abbr title="Phone">P:</abbr>
    000-000-000
</address>

<address>
    <strong>Support:</strong>
    <a href="mailto:Support@XXX.YYY">support@RecruitmentCompany.com</a>
    <br />
    <strong>Marketing:</strong>
    <a href="mailto:Marketing@XXX.YYY">marketing@RecruitmentCompany.com</a>
</address>