@{
    ViewData["Title"] = "Home Page";
}

<div class="centered_text mb-3">
    <div class="pt-3">

        <h1 class="pt-5">Only trusted employers.</h1>
        <h2>Large number of offers.</h2>
        <h3>For free.</h3>

        <a class="btn btn-info rounded-pill mt-4 text-white" href="/JobOffer">
            Start exploring job offers
        </a>
    </div>
</div>