@{
    ViewData["Title"] = "Terms of use";
}

<div class="container body-content">
    <h2 class="mt-3">Terms of use</h2>

    <ol class="mt-3" >
        <li>The application is created only for learning purposes.</li>
        <li>Companies, job offers, and other informations presented on the site are not real.</li>
        <li>When you enter any personal information on this site (including registration), treat it as if it were publicly available.</li>
    </ol>

    <div  class="mt-5">
        <span style="font-size:small">
            Credit for the picture on the home page:
            <br />
            <a href="https://commons.wikimedia.org/wiki/File:EPP_Congress_7812_(8100178623).jpg">EPP Congress 7812 (8100178623)</a> by
            <a href="https://www.flickr.com/people/45198836@N04">EPP</a>, used under
            <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> / Slightly blurred in relation to the original
        </span>
    </div>
</div>