@model JobOffer
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-sm-12">
        <h2>Edit Job Offer</h2>
        @*@using(Html.BeginForm("Create")
        {
        }*@
    </div>
</div>


